.box-container{
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: .5rem .5rem 1rem #ccc,
    -.5rem -.5rem 1rem #fff;
    border:2px solid #eee;
    transition: all 1s ease;
    border-radius: 20px;
    height: 100px;
}
.box-container:active{
    box-shadow: inset .2rem .2rem 1rem #ccc,
    -.2rem -.2rem 1rem #fff;
}