.box-weightcontainer{
    height: 300px;
    width: 600px;
    border-radius: 25px;
    background-color: rgb(169, 205, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.slider{ 
    height: 10px;
    width: 200px;
}
.thumb{
    z-index: 4;
    height: 15px;
}
.track{
    background-color: aliceblue;
    z-index: 1;
    height: 15px;
}
.inputs{
    margin-bottom: 10px;
    width: 500px;
    border-radius: 25px;
}
.box-weightcontainer p{
    font-weight: bold;
    width: 100px;
    
    display: flex;
    justify-content: space-between;
}
.btn-calcular{
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
}