.picker-container{
    height: 270px;
    width: 350px;
    background-color: #fff;
    margin-top: 50px;
    border-radius: 25px;
    border-width: 0.5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  4px 3px 1px #c7fafa;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 15px;
}
.btn{
    margin-top: 10px;
    border-radius: 25px;
    background-color: aliceblue;
    border-width: 0.5px;
    padding: 5px 10px 
}
.btn:hover{
    cursor: pointer;
}
.input{
    height: 50px;
}